# Default ignored files
/../../Restaurant_Management_Game /.idea/shelf/
/../../Restaurant_Management_Game /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Restaurant_Management_Game /.idea/httpRequests/
